@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
	font-family: "Rubik", sans-serif;
}

div.blockquote {
	border-left-style: solid;
	border-left-width: .25rem;
	border-left-color: #444;

	padding: .5rem;
}

pre {
	width: fit-content;
}

code {
	font-family: 'Cascadia Code', monospace, sans-serif;
	border-radius: 5px;
}

pre > code {
	border: solid .25rem #444;
}

code:not(pre > code) {
	background-color: #444;
	padding: .25rem;
}
